.chatContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
  row-gap: 8px;
  padding: 16px max(calc((100% - 1280px) / 2), 16px);
}

.chatContainer:first-child {
  margin-top: auto;
}

.chatFormContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  column-gap: 32px;
  max-width: 1280px;
  padding: 16px;
}

.sendButton {
  rotate: 90deg
}
