.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  row-gap: 16px;
  min-height: 0;
}

.chatContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  justify-content: flex-end;
  height: 100%;
  position: relative;
}

.chatFormContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  column-gap: 32px;
}

.sendButton {
  rotate: 90deg
}
