
$color-button-primary: #5A06C6;
$color-font-button-primary: #ffffff;
$color-button-secondary: #000000;
$color-font-button-secondary: #ffffff;

.container {
  font-family: Helvetica, monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  border: none;
  height: 64px;
}

.variant-default {
  background-color: $color-button-primary;
  color: $color-font-button-primary;
  max-width: 560px;
  width: 100%;
  border-radius: 16px;
}

.variant-small {
  background-color: $color-button-secondary;
  color: $color-font-button-secondary;
  max-width: 160px;
  width: 100%;
  border-radius: 16px;
}

.variant-send {
  background-color: $color-button-primary;
  color: $color-font-button-primary;
  width: 64px;
  border-radius: 100%;
}