.messageBox {
  flex: 0 0 auto;
  display: flex;
  width: 100%;
  column-gap: 4px;
  justify-content: flex-end;
}

.messageBox-user {
  @extend .messageBox;
  flex-direction: row;
}

.messageBox-bot {
  @extend .messageBox;
  flex-direction: row-reverse;
}

.messageContainer {
  padding: 8px;
  border-radius: 16px;
  font-size: x-large;
  line-height: 1.2;
  max-width: min(800px, 70vw);
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: pre-line;
}

.messageContainer-bot {
  @extend .messageContainer;
  background-color: #fac5f3;
  color: black;
}

.messageContainer-user {
  @extend .messageContainer;
  background-color: #af42a0;
  color: whitesmoke;
}

.messageTime {
  font-size: large;
  align-self: flex-end;
}

.link {
  font-weight: bolder;
  color: #af42a0;
}